.firstpartback {
  background-image: url(./imagesabout/pageabout\ firstimageback.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.firstpart {
}
.navmain {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 70px;
}
.navnames {
  display: flex;
  font-size: 16px;
  margin-left: 90px;
  padding: 10px;
  text-decoration: none;
  max-height: 25px;
}
.navhome {
  border: 1px solid #0336ff;
  border-radius: 10px;
  color: #fff;
  background-color: #0336ff;
  padding: 10px 45px;
}
.navothers {
  color: #ffa500;
}

.aboutmainpart{
  background-color: #EDEDED;
}
.aboutfirstname {
  font-size: 64px;
  text-align: center;
  color: ;
  color: rgba(255, 255, 255, 1);
  margin-top: 15%;
}
.aboutheyexplorers {
  width: 92%;
  margin: 0 auto;
  display: flex;
}
.heyexplorers1 {
  width: 50%;
  height: 400px;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.heyexplorers2 {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  font-size: 21px;
}
.heyexplorers2lorem{
  line-height: 2;
}
.heyexplorersp1 {
  margin: 0;
}
.briefhistory {
  line-height: 0;
  display: flex;
}
.heyexplorersgold {
  color: #ffa500;
  margin-left: 10px;
}
.aboutfriends{
  width: 92%;
  margin: 0 auto;
}
.aboutfriendsimage{
  width: 100%;
}
.aboutfriendslorem{
font-size: 18px;
line-height: 1.5;
text-align: justify;
margin-top: 20px;
margin-bottom: 20px;
}

.aboutstory{
  width: 92%;
  margin: 0 auto;
  margin-top: 50px;
}
.aboutstoryfirst,.aboutstorysecond{
  display: flex;
  gap: 20px;
}

.aboutourstory,.aboutwhoarered{
width: 100%;
}

.aboutstorylorem{
  text-align: justify;
  line-height: 1.5;
}
.aboutstoryname{
  font-size: 25px;
}
.aboutstorysecond{
  margin-top: 30px;
}
.aboutstoryonweb{
  margin-top: 10px;
}
.aboutonwesite{
  font-size: 20px;
}
.aboutbanners{
  width: 100%;
  background-color: #d2cfcfb2;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.whatcustomersays1{
  width: 50%;
  height: 400px;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.whatcustomersaysp2{
  margin: 0;
}
.Joykim{
  width: 92%;
  margin: 0 auto;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}
.joykim1{
  max-width: 350px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
}
.joykimlorem{
  max-width: 250px;
}

.aboutlastpart{
  width: 100%;
  background-color: #ededed;
}
.aboutlastpartimage{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.instafollow{
  background-color: #0336FF;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  border: 1px solid #0336FF;
  border-radius: 10px;
  position: absolute;
  left: 46%;
  top: 45%;
}
.aboutlastimages{
  width: 100%;
  padding: 50px 0px;
}

.aboutjoinandinput{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-bottom: 50px;
}

.aboutlastjoinpies{
  font-size: 30px;
  line-height: 0;
  display: flex;
}
.aboutlastjoinp{
  margin-right: 10px;
}
.aboutSubscribetoday{
  font-size: 30px;
  line-height: 0;
  margin-top: 0;
}
.aboutlastjoinnumber{
  color: #0336FF;
  }
  
  .aboutlastbutton{
    background-color: #0336FF;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #0336FF;
    padding: 10px 20px;
  }
  .aboutlastinput{
    width: 200px;
    padding: 10px;
  }

  .aboutprefooterline{
    border-bottom: 2px solid rgba(196, 196, 196, 1);
    background-color: #ededed;
    padding: 20px 0px;
  }
  
  .aboutfooter{
    background-color: #ededed;
  }
  .aboutlastnav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ededed;
  }
  .aboutlastfooterlogo{
    margin-right: 100px;
  }
   .aboutfootermain{
    background-color: rgba(0, 0, 0, 0.68);
    padding: 30px 0px;
   }
  
  .aboutfooterfirst{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: rgba(238, 238, 238, 1);
  
  }
  
  .aboutfooterfirst1{
    width: 350px;
  }
  .aboutfooterfirst2{
    width: 150px;
  }
  .aboutfooterfirst3,.aboutfooterfirst4{
    display: flex;
    flex-direction: column;
  }
  .aboutfooterategs{
    color: rgba(238, 238, 238, 1);
    text-decoration: none;
    margin-top: 20px;
  }
  .aboutfooterline{
    width: 100%;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    margin-top: 20px;
  }
  .aboutfooterlastlast{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: 
    rgba(238, 238, 238, 1);
    font-size: 18px;
    margin-top: 20px;
  }
